/*
  button blue: rgb(69, 228, 245)
  button bottom border: rgb(44, 197, 225)
  button dark blue: rgb(28, 114, 122)
  button dark border: rgb(22, 98, 112)
*/

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.lightbg {
  background: rgb(255,255,255);
  transition: 2s;
}

.darkbg {
  background: rgb(80,80,80);
  transition: 2s;
}

.themeSpace {
  height: 30px;
  width: 80px;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 100;
}

#themeBtn {
  
}

#mainDisplay {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 15%;
}

.randomStudentDisplay {
  margin: 0 10%;
  height: 0;
  text-align: center;
  font-weight: 600;
}

.show {
  height: 100%;
  transition: 2s;
}
.hide {
  height: 0;
  transition: 2s;
}

#getStudentBtn {
  margin: 0 10%;
}

.classBtns {
  position: absolute;
  top: 45vh;
  width: 100%;
}

.btn {
  position: relative;
  top: 0; /* anchors button during transitions */
  bottom: 0;
  user-select: none;
  border: none;
	border-bottom: 5px solid #1AC5E3;
  border-radius: 15px;
  text-align: center;
	background-color: #38E4F7;
	filter: drop-shadow(0 7px 3px #446);
  font-size: 5em;
  margin: 0 auto;
  padding: 10px 20px 0;
  transition: 0.3s;
}

.setStudentsBtn {
  margin: 0 20%;
}

/* FONT STYLES */
.lobster {
  font-family: 'Lobster', cursive;
}
.biryani { /* good for buttons */
  font-family: 'Biryani', sans-serif;
}
.abril { /* good for main display */
  font-family: 'Abril Fatface', cursive;
}
.archivo {
  font-family: 'Archivo Black', sans-serif;
}
.offwhite {
  color: rgba(200,210,225,1.0);
}
.white {
  color: rgba(255,255,255,1.0);
}

.breakout {
  font-size: 7em;
  text-transform: uppercase;
  background: rgb(135,224,253); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(198,230,239,1) 38%, rgba(5,171,224,1) 46%, rgba(3,82,104,1) 63%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(198,230,239,1) 38%,rgba(5,171,224,1) 46%,rgba(3,82,104,1) 63%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(198,230,239,1) 38%,rgba(5,171,224,1) 46%,rgba(3,82,104,1) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#87e0fd',
    endColorstr='#035268',
    GradientType=0 ); /* IE6-9 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: contain;
  line-height: 1.8;
  filter: drop-shadow(0 2px 1px #000);
}

.btn-text {
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 1.8;
  font-weight: bolder;
  filter: drop-shadow(1px 1px 1px rgba(100,100,100,0.2));
  transition: 0.3s;
}

.text-hover {
  color: rgba(255,255,255,1.0);
  filter: drop-shadow(2px 2px 22px 15px rgba(255,255,255,1.0));
  transition: 0.3s;
}

.btn-hover {
	border-bottom: 3px solid #1AC5E3;
  filter: drop-shadow(0 5px 2px #446);
	cursor: pointer;
	top: 2px; /* 2px */
  bottom: 0;
  transition: 0.3s;
}

.btn-click {
	border-bottom: 0px solid #1AC5E3;
	filter: drop-shadow(0 0 0 rgba(30,30,60,0.5));
  box-shadow: 1px 2px 2px rgba(15,15,30,0.7) inset;
	top: 5px; /* 3px */
  bottom: 0;
  transition: 0.3s;
}

a {
  font-size: 6px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-height: 700px) {
  #getStudentBtn {
    position: relative;
    top: 0;
  }
  #mainDisplay {
    position: relative;
    top: 10px;
  }
  .classBtns {
    top: 65%;
  }
}

@media screen and (max-height: 350px) {
  #mainDisplay {
    position: absolute;
    top: 50px;
    height: 120px;
  }
  #changeClass {
    position: absolute;
    top: 170px;
  }
}

@media screen and (max-width: 450px) {
  #mainDisplay {
    position: absolute;
    top: 50px;
    height: 5%;
  }
  #changeClass {
    position: absolute;
    top: 170px;
  }
}